[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.9"
mysqlclient = "*"

[dev-packages]
pytest = "*"
black = "*"
pylint = "*"
flake8 = "*"
autopep8 = "*"
coverage = "*"
pytest-django = "*"

[requires]
python_version = "3.9"
